<div class="Contenedor">
    <div class="block">
        <h1 style="font-size: 50px; color: azure; padding-top: 10px;">Aviso de privacidad integral</h1>
    </div>
    <div class="Contenido">
        <p class="TextoTitulo">Aviso de privacidad<br></p>
        <p class="Texto">En términos de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de
            los Particulares (“LFPDPPP”),
            publicada en el Diario Oficial de la Federación el 05 de julio del 2010, “RCU SISTEMAS”, SOCIEDAD ANÓNIMA DE
            CAPITAL VARIABLE, (“RCU”), con
            domicilio en Casas Grandes 143, Narvarte Poniente, Benito Juárez, 03020 Ciudad de México, CDMX, México,
            reconoce la importancia que tiene el
            tratamiento legítimo, controlado e informado de los datos personales de sus clientes, proveedores y
            empleados, por lo que pone a su disposición el
            presente aviso de privacidad (“Aviso de Privacidad”) con la finalidad de que conozca el proceso de RCU para
            la obtención, uso, almacenamiento y tratamiento
            de los datos personales.</p>
        <p>Así, el presente Aviso de Privacidad se encuentra capitulado de la siguiente manera:</p>
        <ol>
            <li class="Texto">Datos personales que recabamos</li>
            <li class="Texto">Finalidades del tratamiento de los datos personales</li>
            <li class="Texto">Medidas de seguridad</li>
            <li class="Texto">Ejercicio sobre derechos “ARCO”</li>
            <li class="Texto">Transferencias de datos personales</li>
            <li class="Texto">Cambios al Aviso de Privacidad</li>
            <li class="Texto">Contacto</li>
        </ol>
        <p class="TextoTitulo">DATOS PERSONALES QUE RECABAMOS.<br></p>
        <p class="Texto">Usted puede acceder a nuestro sitio web sin proporcionar sus datos personales, sin embargo, en
            los casos en los que requiera mayor información a través del mismo,
            es posible que deba proporcionar sus datos personales pertenecientes a las siguientes categorías:</p>
        <ol>
            <li class="Texto">Datos de identificación: nombre completo, domicilio particular, fecha de nacimiento,
                número de teléfono fijo y/o móvil, fax, correo electrónico, imagen.</li>
            <li class="Texto">Datos laborales: puesto, domicilio, correo electrónico, número de teléfono fijo y/o móvil
                y fax</li>
            <li class="Texto">Datos de facturación: identidad de la persona a la que se hará el cargo, domicilio fiscal,
                RFC</li>
            <li class="Texto">Información financiera elemental: información de cuentas bancarias (incluyendo SPEI y
                CLABE Interbancaria).</li>
            <li class="Texto">Datos personales de menores y/o incapaces: No recabamos intencionalmente, ni tratamos
                datos personales de menores e incapaces cuando no se cuenta con el consentimiento expreso de (i) quienes
                ejerzan su patria potestad, (ii) sus tutores; o, (iii) sus representantes legales. Si usted ejerce la
                patria potestad, es tutor o representante legal de un menor y/o incapaz y tiene conocimiento que nos han
                proporcionado sus datos personales sin su consentimiento, podrá solicitar que los mismos sean cancelados
                a la siguiente dirección de correo electrónico: administracion&#64;rcu.com.mx</li>
        </ol>
        <p class="TextoTitulo">FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES</p>
        <p class="Texto">Sus datos personales serán tratados dependiendo de las circunstancias particulares en las que
            se recaban, siempre obedeciendo a la relación que tengamos con usted y al aviso de privacidad específico
            que, en su caso, se haya puesto a su disposición.</p>
        <ol>
            <li class="Texto">Si usted visita nuestras instalaciones, recabaremos información para controlar el acceso y
                mantener la seguridad de las mismas.</li>
            <li class="Texto">Si usted decide enviar su currículum vitae para establecer contacto y someterlo a
                consideración para un proceso de reclutamiento y selección.</li>
            <li class="Texto">Si usted se pone en contacto con nosotros para (i) exponer sus dudas y comentarios; (ii)
                mantenerse en contacto con RCU; y/o, (iii) establecer una relación jurídica.</li>
            <li class="Texto">Sus datos personales también podrán ser tratados, previo su consentimiento, para enviarle
                (i) nuestro boletín informativo; (ii) información de su interés; y, (iii) información relevante respecto
                de reformas a diferentes Leyes, Reglamentos, Circulares o avisos con fines jurídicos que consideremos
                trascendentales</li>
        </ol>
        <p class="TextoTitulo">MEDIDAS DE SEGURIDAD</p>
        <p class="Texto">RCU ha adoptado, diseñado y mantenido las medidas de seguridad, administrativas, técnicas y
            físicas necesarias para proteger los datos personales contra daño, pérdida, alteración, destrucción o el
            uso, acceso o tratamiento no autorizado.</p>
        <p class="Texto">Asimismo, puede revocar, en todo momento, el consentimiento que haya otorgado y que fuere
            necesario para el tratamiento de sus datos, así como limitar el uso o divulgación de los mismos.</p>

        <p class="TextoTitulo">EJERCICIO SOBRE DERECHOS ARCO</p>
        <p class="Texto">Los derechos ARCO son un derecho humano en términos de lo dispuesto por el artículo 16, párrafo
            segundo, de la Constitución Política de los Estados Unidos Mexicanos, el cual señala que toda persona tiene
            derecho a la salvaguarda de su información personal, así como al acceso, rectificación, cancelación y
            oposición (derechos “ARCO”) de los mismos, en los términos de la legislación que resulte aplicable.</p>
        <p class="Texto">Así, como titular de datos personales, usted puede ejercer ante el Responsable de Datos
            Personales de RCU, sus derechos “ARCO”, de conformidad con lo dispuesto por la LFDPPP.</p>
        <p class="Texto">Para ejercer derechos ARCO el titular de los datos personales o su representante legal deberá
            formular su solicitud mediante el envío del formato correspondiente debidamente llenado y firmado al
            Departamento de Datos Personales de RCU a la dirección de correo electrónico: administracion&#64;rcu.com.mx
        </p>
        <p class="Texto">Se acompaña al presente Aviso de Privacidad el formato para ejercer Derechos ARCO en nuestra
            página http://www.rcu.com.mx</p>

        <p class="TextoTitulo">TRANSFERENCIA DE DATOS PERSONALES</p>
        <p class="Texto">RCU podrá transferir sus datos personales (i) a terceros con los que mantenga una relación
            jurídica, únicamente con el fin de cumplir con las finalidades descritas en el presente Aviso de Privacidad;
            (ii) en los casos específicamente previstos en la Ley; o, (iii) por mandamiento o requerimiento judicial que
            así lo ordene.</p>

        <p class="TextoTitulo">CAMBIOS AL AVISO DE PRIVACIDAD</p>
        <p class="Texto">RCU se reserva el derecho de efectuar, en cualquier momento, modificaciones y/o actualizaciones
            al presente Aviso de Privacidad.</p>
        <p class="Texto">Los cambios sustanciales al presente Aviso de Privacidad serán comunicados a través de nuestro
            sitio web www.rcu.com.mx</p>

        <p class="TextoTitulo">CONTACTO</p>
        <p class="Texto">En caso de tener dudas o comentarios respecto al Aviso de Privacidad, le pedimos contacte al
            Departamento de Datos Personales, a través de la dirección de correo electrónico
            administracion&#64;rcu.com.mx
        </p>
        <p class="Texto">Última versión 6 de noviembre de 2021.</p>

        <p class="TextoTitulo">AVISO DE PRIVACIDAD APLICACIÓN</p>
        <p class="Texto">A continuación se describe cómo y cuándo recolectamos, usamos y compartimos tu información
            a través de nuestra aplicación “MALWIH”. Al usar nuestra aplicación nos otorgas tu consentimiento para
            obtener, transferir, almacenar, divulgar y usar tu información como está descrito en este documento. Solo
            ocupamos la información del usuario como está descrito en esta política de privacidad.</p>
        <p class="Texto">Con el avance tecnológico y en general de las plataformas en las que se distribuyen nuestros
            productos y servicios, éste documento se renueva periódicamente con la finalidad de proteger a nuestros
            usuarios.</p>

        <ol>
            <li class="TextoTitulo">Cómo usamos la información:</li>
            <p class="Texto">Cuando vinculas tu dispositivo a tu cuenta en nuestra plataforma utilizando nuestra
                aplicación voluntariamente nos das tu información personal, tales como tu número de teléfono e
                identificadores únicos de tu dispositivo (Ej. IMEI o Android-ID). Información del usuario como el
                nombre, correo electrónico, información bancaria o dirección no es requerida para utilizar
                nuestros
                servicios. Al acceder al número telefónico, el usuario acepta que enviemos mensajes de texto al
                número proporcionado. Nuestros servicios no promocionan publicidad de terceros.</p>
            <p class="Texto">Podemos ocupar tu información para lo siguiente:</p>
            <ul>
                <li class="Texto">Proveer mantenimiento y mejorar nuestro servicio así como mejorar las
                    características y funcionalidades de nuestra aplicación.</li>
                <li class="Texto">Responder a preguntas y peticiones y otorgar soporte al usuario.</li>
                <li class="Texto">Monitorear y analizar comportamientos, uso y actividades en conexión con nuestros
                    servicios.</li>
                <li class="Texto">Personalizar y mejorar el servicio.</li>
            </ul>
            <p class="Texto">Nuestro sistema no está diseñado para asociar información personal del usuario con
                el uso y manejo de nuestra aplicación.</p>

        </ol>

        <p class="TextoTitulo">Registro de información</p>
        <p class="Texto">Se denomina “paquete” al conjunto de datos generados a través de nuestra aplicación, los
            cuales contienen información relacionada con el dispositivo y su ubicación, no asocia información
            personal del usuario; datos tales como el sistema operativo, modelo, marca y coordenadas los cuales son
            enviados a nuestros servidores para su cotejamiento en nuestro sistema, esto nos permite brindar
            seguimiento, medir y mejorar nuestro servicio. Podemos conservar ciertos datos del usuario después de
            recibir una solicitud para eliminar una cuenta si es necesario, por ejemplo, para cumplir con los requisitos
            legales, También podemos conservar información si es necesario para fines de seguridad y para prevenir el
            fraude. Por ejemplo, si se desactiva la cuenta de un usuario debido a una conducta peligrosa o incidentes de
            seguridad y prevenir que al usuario que abra una nueva cuenta en nuestro sistema en el futuro.</p>

        <ol>
            <li class="TextoTitulo">Ubicación</li>
            <p class="Texto">Como parte de nuestro servicio, podremos almacenar la ubicación precisa del usuario si nos
                proporciona el permiso para hacerlo, tanto en primer plano como en segundo plano. Utilizamos esta
                información para garantizar el funcionamiento de la aplicación y mejorar nuestro servicios. No usamos o
                compartimos esta información para ningún otro propósito. Algunos dispositivos mostrarán una
                notificación o ícono cuando los servicios de ubicación estén operando. Solo compartimos la
                ubicación con otros bajo consentimiento y aprobación del usuario.</p>
        </ol>

        <ol>
            <li class="TextoTitulo">Información del Usuario</li>
            <ul>
                <li>PERSONAL: No solicitamos al usuario información personal tales como:
                    <ul>
                        <li style="list-style-type: circle; padding-left: 5%;">Nombres</li>
                        <li style="list-style-type: circle; padding-left: 5%;">Direccion</li>
                        <li style="list-style-type: circle; padding-left: 5%;">Correo electronico</li>
                        <li style="list-style-type: circle; padding-left: 5%;">Metodos de pago</li>
                    </ul>
                </li>
                <li>GENERADA POR EL USUARIO: Recopilamos informacion generada por el usuario, esto incluye lo siguiente:
                    <ul>
                        <li style="list-style-type: circle; padding-left: 5%;">Informacion de soporte: a través de los
                            mecanismos que disponemos para la consulta o resolución de errores.</li>
                        <li style="list-style-type: circle; padding-left: 5%;">Formularios: A través de formularios que
                            el usuario diseña y crea para su uso específico.</li>
                        <li style="list-style-type: circle; padding-left: 5%;">Multimedia: archivos multimedia tales
                            como audios, transmisión de video, imágenes, los cuales no son accesibles por terceros.
                        </li>
                        <li style="list-style-type: circle; padding-left: 5%;">Telefono: Obtenemos el número
                            telefónico del usuario para brindar seguimiento en caso de generar una alerta de peligro o
                            pánico sólo si el usuario autoriza, esta información no es distribuida a terceros y no se
                            ocupa para otro fin más que el especificado en éste documento.</li>
                    </ul>
                </li>
            </ul>
            <li class="TextoTitulo">Cámara y Micrófono</li>
            <p class="Texto">Varias características de nuestra aplicación utilizan éste medio bajo los siguientes
                términos:</p>
            <ul>
                <li style="list-style-type: circle; padding-left: 5%;">Escaneo: la aplicación escanea códigos QR, los
                    cuales no se almacenan en el dispositivo. </li>
                <li style="list-style-type: circle; padding-left: 5%;">Streaming: la aplicación permite iniciar una
                    transmisión de video con audio, la cual se proyecta y almacena dentro de nuestra plataforma bajo el
                    consentimiento y autorización del usuario. La aplicación no recopila grabaciones de audio en
                    segundo plano ni se activa para ningún otro propósito.</li>
                <li style="list-style-type: circle; padding-left: 5%;">Captura de imagenes: como parte de las
                    funcionalidades de nuestra aplicación, el usuario podrá tomar fotografías que se enviarán a
                    nuestros servidores únicamente cuando el usuario lo indique.</li>
            </ul>
            <li class="TextoTitulo">Almacenamiento</li>
            <p class="Texto">Bajo ninguna circunstancia nuestros servicios recopilan información contenida en el
                dispositivo del usuario sin su autorización. Los datos generados a través de nuestra aplicación
                pueden generar caché, paquetes de información y fotografías que son almacenados en el dispositivo
                para su consulta y disposición del mismo.</p>
            <li class="TextoTitulo">Identificadores de dispositivo</li>
            <p class="Texto">Recopilamos datos sobre los dispositivos usados para acceder a nuestros servicios, lo que
                incluye modelos de hardware, número telefónico, dirección IP, sistema operativos y versiones,
                software, idiomas preferidos, identificadores únicos del dispositivo (IMEI o Android ID). Esto con la
                finalidad de proveer al usuario un seguimiento preciso sobre sus dispositivos asociados a nuestra
                plataforma.</p>
            <li class="TextoTitulo">Divulgacion de informacion</li>
            <p class="Texto">RCU Sistemas s.a. de c.v. no divulga o vende información a terceros para fines
                comerciales. Nuestra aplicación no hace rastreo de usuarios a través de cookies de terceros. El
                usuario puede consultar su información y eliminarla si así lo requiere; no obstante ante cualquier
                disposición en contrario de ésta Política de privacidad, podemos preservar o divulgar su información
                si creemos que es razonablemente necesario para cumplir con una ley, regulación, proceso legal o
                solicitud gubernamental; para investigar, prevenir o tomar medidas con respecto a actividades ilegales
                sospechadas o reales, incluyendo pero no limitado a, fraude, amenazas potenciales a la seguridad
                pública o la seguridad física de cualquier persona; para proteger la seguridad o integridad de
                nuestros productos y servicios; o para proteger derechos, propiedad o nuestra seguridad personal,
                nuestro personal, nuestros usuarios u otros. Sin embargo, nada en esta Política de privacidad tiene la
                intención de limitar las defensas u objeciones legales que es posible que tenga una solicitud de un
                tercero, incluido un gobierno, para divulgar su información.</p>
            <li class="TextoTitulo">Seguridad</li>
            <p class="Texto">Nos preocupamos por la seguridad y confidencialidad de la información que los usuarios nos
                confían. Proveemos metodologías de protección de información físicas y electrónicos que mantenemos
                y mejoramos constantemente. A pesar de nuestros esfuerzos y mejora continua, ningún sistema de
                seguridad puede prevenir todas las amenazas potenciales que pueda recibir nuestra plataforma.</p>
            <li class="TextoTitulo">Menores de edad</li>
            <p class="Texto">Nuestra aplicación no solicita intencionalmente información de niños menores de 16 años
                ni está publicada para este sector en particular. Si un padre o tutor nota que su hijo/a nos ha
                otorgado su información o su consentimiento, él o ella debe comunicarse con nosotros a través de los
                canales de soporte de nuestra plataforma . Eliminaremos esa información de nuestro sistema en un
                periodo no mayor a 5 días hábiles.</p>
            <li class="TextoTitulo">Cambios</li>
            <p class="Texto">Esta política de privacidad puede y será actualizada cada cierto tiempo, notificaremos al
                usuario de cualquier cambio los cuales se verán reflejados en este documento.</p>
            <li class="TextoTitulo">Contacto y Soporte tecnico</li>
            <p class="Texto">Para cualquier duda o aclaración, encarecidamente solicitamos se contacten al correo
                soporte&#64;rcu.com.mx y a nuestras líneas de atención 5555384800.</p>
        </ol>
    </div>
</div>