<div class="Contenedor">
    <div class="block">
        <h1 style="font-size: 50px; color:azure; padding-top: 10px;">Subir Archivos</h1>
    </div>
    <div class="Contenido">
        
            <form (ngSubmit)="SubirArchivo()" enctype="multipart/form-data">
                <div class="field">
                    <label class="label">Archivo del anuncio </label>
                    <input class="form-control form-control-lg" name="Archivo" type="file" accept="image/*,video/*"
                        (change)="ArchivoSeleccionado($event)">
                    <label class="label">----------------------------------------------------------------------------------------</label>
                    <label class="label">Elije que clase de anuncio es: </label>
                    <br>      
                    <label class="label">
                        Diario
                        <input type="radio" id="diario" name="prioridad" value="diario" [(ngModel)]="prioridad">
                    </label>
                    
                    <label for="semanal" class="label">
                        Semanal
                        <input type="radio" id="semanal" name="prioridad" value="semanal" [(ngModel)]="prioridad">
                    </label>
                    
                    <label for="mensual" class="label">
                        Mensual
                        <input type="radio" id="Mensual" name="prioridad" value="mensual" [(ngModel)]="prioridad">
                    </label>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Enviar</button>
                    </div>
                </div>
            </form>
        
    </div>
</div>