@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.Contenedor {
    display: flex;
    min-height: 120vh;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/fondo_sistemas.jpg");
    background-color: transparent;
    
    background-position: center;
    overflow: hidden;

    background-repeat: no-repeat;

    background-size: cover;

}

.Contenido {
    text-align: justify;
    min-height: 50vh;
    height: auto;
    width: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
}
.Descarga{
    color: black;
    transition: color 0.2s ease;
}

.Descarga:hover{
    color:blueviolet;
    cursor: pointer;
}