<div class="Contenedor">
    <div class="block">
        <div class="Contenido">
            <h1 style="font-size: 50px; color:azure; padding-top: 10px;">Recibos: </h1>
            <div class="card flex justify-content-center">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="date" view="month" inputId="Fecha" dateFormat="mm/yy"
                        [readonlyInput]="true"></p-calendar>
                    <label for="Fecha">Elegir Mes</label>
                </span>
            </div>
        </div>
    </div>
</div>