.imagenes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 14vh;
    padding: 3%;
    transition: background-color 0.3s, color 0.3s;
}

.imagenes:hover {
    background-color: aqua;
    color: black;
}

.imgs {
    display: inline-block;
    margin-right: 50px;
}

.imagenes2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120%;
    height: 12vh;
    padding: 3%;
    transition: background-color 0.3s, color 0.3s;
}

.imagenes2:hover {
    background-color: aqua;
    color: black;
}

.imagenSideNav{
    width: 25vw;
    height: 30vh;
}