<div class="Contenedor">
    <div class="block">
        <h1 style="font-size: 50px; color:azure; padding-top: 10px;">Valores</h1>
    </div>

    <div class="Contenido">
        <div class="tabs">
            <div class="tabby-tab">
                <input type="radio" id="tab-1" name="tabby-tabs" checked>
                <label for="tab-1" style="color: azure;">HONESTIDAD</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Honestidad:<br>
                        Al actuar consistentemente con los principios de verdad, decencia, justicia y honradez.                  
                    </p>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-2" name="tabby-tabs">
                <label for="tab-2" style="color: azure;">RESPETO</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Respeto:<br>
                        Al tratar a nuestros clientes, socios, proveedores, colaboradores, compañeros de trabajo y personas en general<br> 
                        con la dignidad y cortesía necesarias.
                    </p>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-3" name="tabby-tabs">
                <label for="tab-3" style="color: azure;">INNOVACIÓN</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Inovacion:<br>
                        Al Desarrollar e Implementar ideas, estrategias, métodos y soluciones útiles y de valor para nuestros<br> 
                        clientes y socios de negocio.
                    </p>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-4" name="tabby-tabs">
                <label for="tab-4" style="color: azure;">SERVICIO</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Servicio:<br>
                        Al responder con atención, amabilidad, prontitud y calidad a las necesidades de nuestros clientes.
                    </p>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-5" name="tabby-tabs">
                <label for="tab-5" style="color: azure;">EFICIENCIA</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Eficiencia:<br>
                        Al mostrar capacidad y habilidad para trabajar de manera planeada y organizada, solventar dificultades y<br> 
                        satisfacer las necesidades y requerimiento de nuestros clientes, de manera pronta y oportuna.
                    </p>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-6" name="tabby-tabs">
                <label for="tab-6" style="color: azure;">CALIDAD</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Calidad<br>
                        Al realizar cada actividad que emprendemos con esmero y cuidado cumpliendo con los requisitos<br>
                        más exigentes
                    </p>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-7" name="tabby-tabs">
                <label for="tab-7" style="color: azure;">LIDERAZGO</label>
                <div class="tabby-content">

                    <p style="white-space:pre; font-size:x-large; color: azure;">
                        Liderazgo<br>
                        Al influir positivamente en nuestro entorno mediante la innovación, la calidad y el compromiso.
                    </p>
                </div>
            </div>

          
        </div>
    </div>

</div>