<div class="Contenedor">
    <div class="block">
        <h1 style="font-size: 50px; color:azure; padding-top: 10px;">Valores</h1>
    </div>

    <div class="box">
        <p><a class="texto">HONESTIDAD (Al actuar consistentemente con los principios de verdad, decencia, justicia y honradez).<br>
            RESPETO (Al tratar a nuestros clientes, socios, proveedores, colaboradores, compañeros de trabajo y personas en general con la dignidad y cortesía necesarias).</a><br>
            <a class="texto">INNOVACIÓN (Al Desarrollar e Implementar ideas, estrategias, métodos y soluciones útiles y de valor para nuestros clientes y socios de negocio).</a><br>
            <a class="texto">SERVICIO (Al responder con atención, amabilidad, prontitud y calidad a las necesidades de nuestros clientes).</a><br>
            <a class="texto">EFICIENCIA (Al mostrar capacidad y habilidad para trabajar de manera planeada y organizada, solventar dificultades y satisfacer las necesidades y requerimientos de nuestros clientes, de manera pronta y oportuna).</a><br>
            <a class="texto">CALIDAD (Al realizar cada actividad que emprendemos con esmero y cuidado cumpliendo con los requisitos más exigentes).</a><br>
            <a class="texto">LIDERAZGO (Al influir positivamente en nuestro entorno mediante la innovación, la calidad y el compromiso).</a><br>
            <a class="texto">RESPETO (Al tratar a nuestros clientes, socios, proveedores, colaboradores, compañeros de trabajo y personas en general con la dignidad y cortesía necesarias).</a><br>
        </p>
        </div>

</div>