<div class="Contenedor">
    <div class="block">
        <p></p>
        <p></p>
        <h1 style="font-size: 50px; color: azure; padding-top: 10px;">Directorio</h1>
    </div>
    <div class="box">
        <div style="text-align: center;">
            <!-- <img src="../../assets/Proyecto_en_construccion.jpg" style="width: 500px; height: 400px;"> -->
            <p>Direccion</p>
            <table mat-table [dataSource]="dataSource1">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
                <tr>
                    <td>Columna</td>
                </tr>
            </table>
            <p>Gerencia de Tesoreria</p>
            <table mat-table [dataSource]="dataSource2">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Area de Compras</p>
            <table mat-table [dataSource]="dataSource3">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Area de Almacen</p>
            <table mat-table [dataSource]="dataSource4">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Coordinacion de Recursos Humanos</p>
            <table mat-table [dataSource]="dataSource5">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Operaciones</p>
            <table mat-table [dataSource]="dataSource6">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Tecnologia</p>
            <table mat-table [dataSource]="dataSource7">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Area de Infomeca</p>
            <table mat-table [dataSource]="dataSource8">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Implementacion (Refugios)</p>
            <table mat-table [dataSource]="dataSource9">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Comercializacion</p>
            <table mat-table [dataSource]="dataSource10">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Seguridad</p>
            <table mat-table [dataSource]="dataSource11">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Proyectos</p>
            <table mat-table [dataSource]="dataSource12">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Gerencia de Monitoreo</p>
            <table mat-table [dataSource]="dataSource13">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Humanismo y Legalidad</p>
            <table mat-table [dataSource]="dataSource14">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Psicologia</p>
            <table mat-table [dataSource]="dataSource15">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Servicios Generales (Mantenimiento)</p>
            <table mat-table [dataSource]="dataSource16">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Intendencia</p>
            <table mat-table [dataSource]="dataSource17">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Comedor</p>
            <table mat-table [dataSource]="dataSource18">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>Vino y se Fue</p>
            <table mat-table [dataSource]="dataSource19">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p>LINEA TELEFONICA DE RCU</p>
            <P>5555384800</P>
                <table class="default">
                    <tr>
                        <th>RCU CANCUN</th>
                    </tr>

                    <tr>
                        <td>Alejandro Gonzalez Plata</td>
                    </tr>

                    <tr>
                        <td>gplata"&#64;"rcucancun.com</td>
                    </tr>

                    <tr>
                        <td>www.rcucancun.mx</td>
                    </tr>

                    <tr>
                        <th>Tel. Oficina</th>
                    </tr>

                    <tr>
                        <td>9988922000</td>
                    </tr>

                    <tr>
                        <td>9988848334</td>
                    </tr>

                    <tr>
                        <td>9988849358</td>
                    </tr>
                </table>
                

        </div>
    </div>
</div>