@import "../../../node_modules/bulma/css/bulma-rtl.min.css";
.Contenedor {
    width: auto;
    height: auto;
    background-image: url("../../assets/fondo_sistemas.jpg");
            background-color: transparent;
           
            
            

            background-repeat: no-repeat;

            background-size: cover;
    
  }