<div class="Contenedor">
    <div class="block">
        <p></p>
        <p></p>
        <h1 style="font-size: 50px; color: azure; padding-top: 10px;">Directorio</h1>
    </div>
    <div class="box" style="justify-content: space-evenly;">
        <div style="text-align: center;">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Victor" #input>
              </mat-form-field>
            <!-- <img src="../../assets/Proyecto_en_construccion.jpg" style="width: 500px; height: 400px;"> -->
            <p style="position: relative;font-weight: bold;bottom: 10px;">Direccion</p>
            <table mat-table [dataSource]="dataSource1" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
                <tr>
                    <td>Columna</td>
                </tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Tesoreria</p>
            <table mat-table [dataSource]="dataSource2" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Compras</p>
            <table mat-table [dataSource]="dataSource3" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Almacen</p>
            <table mat-table [dataSource]="dataSource4" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Recursos Humanos</p>
            <table mat-table [dataSource]="dataSource5" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Operaciones</p>
            <table mat-table [dataSource]="dataSource6" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Tecnologia</p>
            <table mat-table [dataSource]="dataSource7" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Infomeca</p>
            <table mat-table [dataSource]="dataSource8" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Implementacion (Refugios)</p>
            <table mat-table [dataSource]="dataSource9" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Comercializacion</p>
            <table mat-table [dataSource]="dataSource10" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Seguridad</p>
            <table mat-table [dataSource]="dataSource11" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Proyectos</p>
            <table mat-table [dataSource]="dataSource12" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Monitoreo</p>
            <table mat-table [dataSource]="dataSource13" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Humanismo y Legalidad</p>
            <table mat-table [dataSource]="dataSource14" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Psicologia</p>
            <table mat-table [dataSource]="dataSource15" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Servicios Generales (Mantenimiento)</p>
            <table mat-table [dataSource]="dataSource16" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Intendencia</p>
            <table mat-table [dataSource]="dataSource17" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Comedor</p>
            <table mat-table [dataSource]="dataSource18" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="position: relative;font-weight: bold;top:0px;bottom: 10px;">Vino y se Fue</p>
            <table mat-table [dataSource]="dataSource19" style="border: 3px solid;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{element.Area}}</td>
                </ng-container>
                <ng-container matColumnDef="Extension">
                    <th mat-header-cell *matHeaderCellDef>Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.Extension}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.Correo}}</td>
                </ng-container>
                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td mat-cell *matCellDef="let element">{{element.Telefono}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
            </table>
            <p style="align-self: center; font-weight: bold;">LINEA TELEFONICA DE RCU</p>
            <P>5555384800</P>
            <table class="table2">
                <tr>
                    <th style="border: 3px solid;">RCU CANCUN</th>
                </tr>

                <tr>
                    <td>Alejandro Gonzalez Plata</td>
                </tr>

                <tr>
                    <td>gplata"&#64;"rcucancun.com</td>
                </tr>

                <tr>
                    <td>www.rcucancun.mx</td>
                </tr>

                <tr>
                    <th style="border: 3px solid;">Tel. Oficina</th>
                </tr>

                <tr>
                    <td>9988922000</td>
                </tr>

                <tr>
                    <td>9988848334</td>
                </tr>

                <tr>
                    <td>9988849358</td>
                </tr>
            </table>


        </div>
    </div>
</div>