@import "../../../node_modules/bulma/css/bulma-rtl.min.css";

.Contenedor {
    width: auto;
    height: auto;
    background-image: url("../../assets/fondo_sistemas.jpg");
            background-color: transparent;
           
            background-repeat: no-repeat;

            background-size: cover;
    
  }

  .Contenido{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px; 
}