<div class="Contenedor">
    <div class="block">
        <h1 style="font-size: 50px; color:azure; padding-top: 10px;">Area: {{perfil.ADAreaUsr}}</h1>
    </div>
    <div class="box">
        <ul>
            <h1 style="font-size: x-large;">Documentos para uso solo del Area:</h1>
            <li *ngFor="let archivo of archivos">
                <div *ngIf="archivo.nombre !=='.' && archivo.nombre !=='..'">
                    <div *ngIf="archivo.tipo === 'application/pdf'">
                        <p><a [href]="'http://rcu.intranet/Archivos/'+perfil.ADAreaUsr+'/'+archivo.nombre">{{archivo.nombre }}</a></p>
                    </div>
                </div>
            </li>
            <h1 style="font-size: x-large;">Documentos Descargables:</h1>
            <li *ngFor="let archivo of archivos">
                <div *ngIf="archivo.tipo !== 'application/pdf'">
                    <p><a (click)="descargarArchivo(archivo.nombre)">{{archivo.nombre}}</a>
                </div>
            </li>
        </ul>

    </div>
</div>


<!-- <a>{{perfil.ADAreaUsr}}</a>
        <li *ngFor="let archivo of archivos">
            <div *ngIf="archivo !== '.' && archivo !== '..'">
                <a (click)="descargarArchivo(archivo)">{{ archivo }}</a>
                <!--<button mat-raised-button (click)="descargarArchivo(archivo)">Descargar</button> 
            </div>
        </li>-->