<head>
  <link rel="stylesheet" href="../../assets/css/bulma.css">
</head>

<div class="Contenedor">
  <div class="columns">
    <div class="column is-two-thirds">
      <div *ngIf="mostrar">
        <c-carousel (itemChange)="onItemChange($event)" [interval]="5000" transition="slide">
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">

              <div *ngIf="slide.tipo==='image/jpeg'">
                <img [src]="slide.src" alt="{{ slide.title }}" class="d-block w-100" loading="lazy" />
              </div>

              <div *ngIf="slide.tipo==='video/mp4'">
                <video class="video-container" loop autoplay controls>
                  <source src="{{slide.src}}" type="video/mp4">
                </video>
              </div>

              <c-carousel-caption class="d-none d-md-block">
                <h3>{{slide.title}}</h3>
                <p>{{slide.subtitle}}</p>
                <p>{{slide.tipo}}</p>
              </c-carousel-caption>

            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>
      </div>
    </div>
    <div class="column">
      <p class="TituloHerramGen">Herramientas Generales:</p>


      <ul class="menu-list">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <a title="Sistema de Tickets" href="https://rcusistemas.sd.cloud.invgate.net/auth/login"
              target="_blank"><img src="../../assets/img/LogoTickets.jpg" class="imgERP"></a>
            <p align="center" class="Herramienta">Sistema de Tickets</p>
          </div>
          <div class="column is-half">
            <a title="ERP" href="https://aplicaciones01rcu.com.mx:8080/alphaerpweb" target="_blank"><img
                src="../../assets/img/LogoERP.jpg" class="imgERP"></a>
            <p align="center" class="Herramienta">ERP</p>
          </div>
        </div>
      </ul>

      <ul class="menu-list">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <a title="Dropbox" href="https://www.dropbox.com/es/" target="_blank"><img
                src="../../assets/img/Dropbox-Logo.png" class="imgERP"></a>
            <p align="center" class="Herramienta">Dropbox</p>
          </div>
          <div class="column is-half">
            <a title="Zoom" href="https://zoom.us/es" target="_blank"><img src="../../assets/img/LogoZoom.png"
                class="imgERP"></a>
            <p align="center" class="Herramienta">Zoom</p>
          </div>
        </div>
      </ul>

      <ul class="menu-list">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <a title="WhatsApp" href="https://web.whatsapp.com" target="_blank"><img
                src="../../assets/img/whatsapp_logo.png" class="imgERP"></a>
            <p align="center" class="Herramienta">WhatsApp</p>
          </div>
          <div class="column is-half">
            <a title="Generador de Codigo QR" (click)="IrAQR()"><img src="../../assets/img/CodigoQR-Logo.png"
                class="imgERP"></a>
            <p align="center" class="Herramienta">Generar Codigo QR</p>
          </div>
        </div>
      </ul>

      <ul class="menu-list">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <a title="Zoom" href="" target=""><img src="../../assets/img/test.jpg" class="imgERP"></a>
            <p align="center" class="Herramienta">Placeholder</p>
          </div>
          <div class="column is-half">
            <a title="Zoom" href="" target=""><img src="../../assets/img/test.jpg" class="imgERP"></a>
            <p align="center" class="Herramienta">Placeholder</p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>