<div class="Contenedor">
    <div class="block">
        <h1 style="font-size: 50px; color:azure; padding-top: 10px;">Mision/Vision</h1>
    </div>

    <div class="tabs">
        <div class="tabby-tab">
            <input type="radio" id="tab-1" name="tabby-tabs" checked>
            <label for="tab-1" style="color: azure;">Mision</label>
            <div class="tabby-content">

                <p style="white-space:pre; font-size:large; color: azure;">
                    MISION:<br>
                    Ser una empresa vanguardista, flexible y adaptable a los cambios tecnológicos, con un equipo de colaboradores profesionales, altamente<br>
                    capacitados y comprometidos firmemente con nuestros valores institucionales, a través del desarrollo e implementación de soluciones y<br>
                    servicios de calidad, que contribuyan a la satisfacción de las necesidades generales y específicas de nuestros clientes y socios comercial.<br>
                </p>
            </div>
        </div>

        <div class="tabby-tab">
            <input type="radio" id="tab-2" name="tabby-tabs">
            <label for="tab-2" style="color: azure;">Vision</label>
            <div class="tabby-content">

                <p style="white-space:pre; font-size:large; color: azure;">
                    VISION:<br>
                    Ser una empresa líder en el mercado del desarrollo e integración de tecnología, que genere continuamente valor agregado para nuestros clientes,<br>
                    empleados y socios de negocio, mediante la innovación tecnológica, la calidad y la excelencia en los servicios que ofrecemos y que garantice la<br>
                    satisfacción de las necesidades específicas de nuestros clientes.
                </p>
            </div>
        </div>

    </div>



</div>